@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap");
:root {
  --cyan: hsl(179, 62%, 43%);
  --bright-yellow: hsl(71, 73%, 54%);
  --light-gray: hsl(204, 43%, 93%);
  --grayish-blue: hsl(218, 22%, 67%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Karla", sans-serif;
}

body {
  min-height: 100vh;
  width: 100%;
  background-color: var(--light-gray);
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 650px;
  border: none;
}

.card {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.header {
  grid-column: 1/3;
  background-color: white;
  padding: 2.5rem;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.header-text h1 {
  color: var(--cyan);
  font-weight: 700;
  font-size: 30px;
  margin-bottom: 1.7rem;
}
.header-text h3 {
  margin-bottom: 1.25rem;
  font-size: 20px;
  font-weight: 600;
  color: var(--bright-yellow);
}
.header-text p {
  font-size: 17px;
  color: var(--grayish-blue);
  font-weight: 400;
}

.footer-sections {
  display: grid;
  grid-column: 1/3;
}

.left {
  grid-column: 1/2;
}

.right {
  display: grid;
  grid-column: 2/3;
}

.payment-card {
  background-color: var(--cyan);
  color: white;
  border-bottom-left-radius: 8px;
  padding: 2.5rem;
}
.payment-card h3 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 1rem;
}
.payment-card p {
  font-size: 16px;
  font-weight: 300;
  opacity: 0.9;
  margin-bottom: 1.9rem;
}

.price-per-month {
  display: flex;
  align-items: center;
  margin-bottom: 0.4rem;
}

.first {
  font-size: 33px;
  font-weight: 600;
}

.second {
  padding-left: 0.6rem;
  opacity: 0.7;
}

.button button {
  cursor: pointer;
  width: 240px;
  border: none;
  background-color: var(--bright-yellow);
  color: white;
  font-size: 16px;
  font-weight: 700;
  padding: 0.9rem;
  border-radius: 6px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}
.button button:hover {
  background-color: hsl(71, 64%, 72%);
  color: var(--cyan);
}

.why-us {
  padding: 2.5rem 4.4rem 2.5rem 2.5rem;
  color: white;
  background-color: hsla(179, 62%, 43%, 0.8);
  border-bottom-right-radius: 8px;
}
.why-us h3 {
  font-size: 19px;
  margin-bottom: 0.7rem;
}
.why-us ul {
  list-style: none;
  opacity: 0.65;
}

.text-why-us li {
  font-size: 15px;
  line-height: 1.5;
}

@media (min-width: 511px) and (max-width: 625px) {
  .payment-card {
    padding: 1.5rem;
  }
  .why-us {
    padding: 1.5rem;
  }
}
@media (max-width: 521px) {
  .container {
    margin: 3rem 1.75rem;
  }
  .card {
    display: flex;
    flex-direction: column;
  }
  .footer-sections {
    display: flex;
    flex-direction: column;
  }
  .header {
    padding: 1.5rem;
    height: 33.333%;
  }
  .header-text h1 {
    font-size: 22px;
    margin-bottom: 0.9rem;
  }
  .header-text h3 {
    font-size: 18px;
    margin-bottom: 1rem;
    line-height: 1.4;
  }
  .header-text p {
    font-size: 15px;
    line-height: 1.7;
  }
  .payment-card {
    border-radius: 0px;
    padding: 1.5rem;
    height: 33.333%;
  }
  .payment-card h3 {
    font-size: 20px;
  }
  .payment-card p {
    margin-bottom: 1rem;
  }
  .button {
    text-align: center;
  }
  .button button {
    width: 100%;
  }
  .why-us {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    padding: 1.5rem;
    height: 33.333%;
  }
  .why-us h3 {
    margin-bottom: 1rem;
  }
  .text-why-us li {
    font-size: 13px;
  }
}/*# sourceMappingURL=style.css.map */